<nz-modal [(nzVisible)]="isVisible" nzCentered="true" nzKeyboard="false" nzMaskClosable="false" nzCentered
  [nzWidth]="680" nzTitle="ข้อมูลรับบริการผู้ป่วยใน (IPD)" (nzOnOk)="isVisible = false"
  (nzOnCancel)="isVisible = false">
  <ng-container *nzModalContent>
    <nz-tabset (nzSelectedIndexChange)="onTabChange($event)">
      <nz-tab nzTitle="ข้อมูลรับบริการ">
        <nz-spin nzTip="Loading..." [nzSpinning]="loading">
          <nz-descriptions nzTitle="ข้อมูลผู้ป่วย" [nzColumn]="4">
            <nz-descriptions-item nzTitle="HN">{{personInfo.hn}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="CID">{{personInfo.cid}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="ชื่อ - สกุล" [nzSpan]="2">{{personInfo.title}}{{personInfo.fname}}
              {{personInfo.lname}}</nz-descriptions-item>

            <nz-descriptions-item nzTitle="วันเกิด">{{personInfo.birth}} <br>({{personInfo.age}}
              ปี)</nz-descriptions-item>
            <nz-descriptions-item nzTitle="สัญชาติ">{{personInfo.nation}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Typearea" [nzSpan]="2">{{personInfo.typearea}}</nz-descriptions-item>
          </nz-descriptions>

          <nz-descriptions nzTitle="ข้อมูลลงทะเบียนรับ" [nzColumn]="4">
            <nz-descriptions-item nzTitle="AN" [nzSpan]="4">{{ipdInfo.an}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="วันที่รับ">{{ipdInfo.dateadm}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="เวลา">{{ipdInfo.timeadm}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="วันที่จำหน่าย">{{ipdInfo.datedsc}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="เวลา">{{ipdInfo.timedsc}}</nz-descriptions-item>
          </nz-descriptions>
        </nz-spin>

      </nz-tab>
      <nz-tab nzTitle="การวินิจฉัย">
        <nz-table nzSize="small" [nzShowPagination]="false" #diagTable [nzData]="diagData" [nzLoading]="loading">
          <thead>
            <tr>
              <th>รหัส</th>
              <th>รายละเอียด</th>
              <th>ประเภทวินิจฉัย</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of diagTable.data">
              <td>{{ data.diag }}</td>
              <td>{{ data.diag_name }}</td>
              <td>{{ data.dxtype }}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="รายการยาและเวชภัณฑ์">
        <nz-table nzSize="small" [nzShowPagination]="false" #drugTable [nzData]="drugData" [nzLoading]="loading">
          <thead>
            <tr>
              <th>ชื่อ</th>
              <th>จำนวน</th>
              <th>หน่วย</th>
              <th>แพ็ค</th>
              <th>ราคาต่อหน่วย</th>
              <th>วิธีใช้</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of drugTable.data">
              <td>{{ data.drug_name }}</td>
              <td>{{ data.amount | number }}</td>
              <td>{{ data.unit }}</td>
              <td>{{ data.unit_pack }}</td>
              <td>{{ data.drugprice | number }}</td>
              <td>{{ data.usage_1 }}, {{ data.usage_2 }}, {{ data.usage_3 }}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </ng-container>

  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="isVisible = false">ตกลง</button>
  </div>

</nz-modal>