<nz-content>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <span nz-icon nzType="home"></span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <span nz-icon nzType="team"></span>
      ทะเบียนผู้ป่วย
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header style="background-color: white;" class="site-page-header" (nzBack)="onBack()" nzBackIcon
    nzTitle="ทะเบียนผู้ป่วย">
  </nz-page-header>
  <div class="inner-content">
    <div nz-row style="padding-bottom: 10px;">
      <div nz-col nzSpan="8">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
          <input type="text" [(ngModel)]="personQuery" nz-input placeholder="ระบุเลขบัตรประชาชน" />
        </nz-input-group>
        <ng-template #suffixButton>
          <nz-button-group>
            <button (click)="searchPerson()" nz-button nzType="primary" nzSearch>ค้นหา</button>
            <button (click)="refreshPerson()" nz-button>ทั้งหมด</button>
          </nz-button-group>
        </ng-template>
      </div>
    </div>
    <nz-table nzShowPagination="false" [nzLoading]="loading" [nzData]="datasets" nzSize="small" [nzPageSize]="pageSize">
      <thead>
        <tr>
          <th>HN</th>
          <th>เลขบัตรประชาชน</th>
          <th>ชื่อ - สกุล</th>
          <th>วันเกิด</th>
          <th>อายุ (ปี)</th>
          <th>เพศ</th>
          <th>โซน</th>
          <th>ปรับปรุงล่าสุด</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of datasets">
          <td>{{data.hn}}</td>
          <td>{{data.cid}}</td>
          <td>{{data.fname}} {{data.lname}}</td>
          <td>{{data.birth}}</td>
          <td>{{data.age}}</td>
          <td>{{data.sex}}</td>
          <td>{{data.zone_name}}</td>
          <td>{{data.d_update}}</td>
          <td style="text-align: center;">
            <button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
              <span nz-icon nzType="menu"></span>
              เมนู
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="openOpdVisit(data)">
                  <span nz-icon nzType="search" nzTheme="outline" style="margin-right: 5px;"></span>
                  ประวัติรับบริการผู้ป่วยนอก (OPD)
                </li>
                <li nz-menu-item (click)="openIpdVisit(data)">
                  <span nz-icon nzType="search" nzTheme="outline" style="margin-right: 5px;"></span>
                  ประวัติรับบริการผู้ป่วยใน (IPD)
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item>
                  <span nz-icon nzType="profile" nzTheme="outline" style="margin-right: 5px;"></span>
                  Patient Profile
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <br>
    <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize"
      [nzPageSizeOptions]="[20,50,100,500]" (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)" [nzShowTotal]="totalTemplate"></nz-pagination>
  </div>
</nz-content>

<ng-template #totalTemplate let-total>ทั้งหมด {{ total | number }} รายการ</ng-template>

<nz-drawer [nzClosable]="true" [nzVisible]="visibleOpdVisit" nzPlacement="right"
  nzTitle="ประวัติรับบริการผู้ป่วยนอก (OPD)" (nzOnClose)="closeOpdVisit()">
  <ng-container *nzDrawerContent>
    <nz-spin nzTip="Loading..." [nzSpinning]="loading">
      <nz-empty *ngIf="lastOpd.length === 0"></nz-empty>
      <nz-card *ngFor="let item of lastOpd" style="width:100%; margin-bottom: 16px;" [nzTitle]="item.date_serv_th"
        [nzExtra]="extraTemplate">
        <strong>{{item.hospname}} ({{item.hospcode}})</strong> <br>
        SEQ: {{item.seq}} <br>
        CC: {{item.chiefcomp || '-'}} <br>
        <ng-template #extraTemplate>
          <a (click)="openOpdDetail(item)">รายละเอียด</a>
        </ng-template>
      </nz-card>
    </nz-spin>


  </ng-container>
</nz-drawer>

<nz-drawer [nzClosable]="true" [nzVisible]="visibleIpdVisit" nzPlacement="right"
  nzTitle="ประวัติรับบริการผู้ป่วยใน (IPD)" (nzOnClose)="closeIpdVisit()">
  <ng-container *nzDrawerContent>
    <nz-spin nzTip="Loading..." [nzSpinning]="loading">
      <nz-empty *ngIf="lastIpd.length === 0"></nz-empty>
      <nz-card *ngFor="let item of lastIpd" style="width:100%; margin-bottom: 16px;" [nzTitle]="item.dateadm_th"
        [nzExtra]="extraTemplate">
        <strong>{{item.hospname}} ({{item.hospcode}})</strong> <br>
        AN: {{item.an}} <br>
        Discharge: {{item.datedsc_th}} <br>
        Dischs: {{item.dischs}} <br>
        Discht: {{item.discht}} <br>
        <ng-template #extraTemplate>
          <a (click)="openIpdDetail(item)">รายละเอียด</a>
        </ng-template>
      </nz-card>
    </nz-spin>


  </ng-container>
</nz-drawer>

<app-modal-patient-opd-visit></app-modal-patient-opd-visit>
<app-modal-ipd-visit></app-modal-ipd-visit>